* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}
.container {
    padding: 10px;
}
.hero_image_container {
    width: 100%;
}
.hero_image {
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
}
.navbar__brand {
    width: 100px;
}
.nav_logo {
    width: 100%;
}
.button__item {
    color: #fff;
   background-image: linear-gradient(
    to right, 
    #ff512f 0%,
    #dd2476 50%,
    #ff512f 100%
   );
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
}

.navbar__item:hover {
    border: 2px solid #dd2476;
}

@media (min-width: 768px) {
    .navbar {
        padding: 10px 20px;
    }

    .hero_container {
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}
@media (min-width: 1024px) {
    .navbar__brand {
        width: 150px;
    }
    .navbar__item {
        padding: 10px;
        font-size: 20px;
        font-weight: 500;
    }
}

.hero_container {
    margin-top: 20px;
}

.hero_description {
    padding: 10px;
}

.hero_text {
    color: #1A5F7A;
    font-size: 210%;
    margin: 20px;
    font-weight: 1000;
}

.hero_image {
    border-radius: 6px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 40%);
}