* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #f9fafc;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__brand {
    width: 100px;
}
.nav_logo {
    width: 100%;
}
.navbar__item {
    color: #fff;
   background-image: linear-gradient(
    to right, 
    #ff512f 0%,
    #dd2476 50%,
    #ff512f 100%
   );
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
}

.navbar__item:hover {
    border: 2px solid #dd2476;
}

@media (min-width: 768px) {
    .navbar {
        padding: 10px 20px;
    }
}
@media (min-width: 1024px) {
    .navbar__brand {
        width: 150px;
    }
    .navbar__item {
        padding: 10px;
        font-size: 20px;
        font-weight: 500;
    }
}